:root {
  --primary-color: #007bff;
  --secondary-color: #1def05;
}

.card {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.733);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.username,
.password {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-button {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: var(--primary-color);
  color: white;
}

.forgot-password {
  text-align: center;
  font-size: 0.8rem;
  color: var(--primary-color);
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

.create-account {
  text-align: center;
  font-size: 0.8rem;
  background-color: var(--secondary-color);
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.right-section {
  padding: 1rem;
}
