.left-section {
  grid-area: left;
}

.right-section {
  grid-area: right;
}

.footer {
  grid-area: footer;
}

#container {
  width: 80%;
  margin: auto;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.8fr 0.2fr;
  gap: 2rem;
  align-items: center;
  grid-template-areas:
    'left right'
    'footer footer';
}

@media screen and (max-width: 768px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    /* align-items: flex-end; */
    grid-template-areas:
      'left'
      'right'
      'footer';
  }
}
